{% load query_transform %}

{% if is_paginated %}

  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-2 mx-auto">
        <ul class="pagination pagination-primary m-4 justify-content-center">
          {% if page_obj.has_previous %}
            <li>
              <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">prev</a>
            </li>
          {% endif %}
          <li class="active">
            <span class="page-link">{{ page_obj.number }}</span>
          </li>
          {% if page_obj.has_next %}
            <li>
              <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">next</a>
            </li>
          {% endif %}        
        </ul>
      </div>
    </div>
  </div>

{% endif %}
