{% extends "base.html" %}


{% block content %}

  <h1>
    Worker list
    <a href="{% url 'task_manager:worker-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if worker_list %}

  <table class="table">

    <tr>
      <th>ID</th>
      <th>Full name</th>
      <th>Position</th>
      <th>E-mail</th>
      <th>Username</th>
    </tr>

    {% for worker in worker_list %}
      <tr>
        <td>
          {{ worker.id }}
        </td>
        <td>
          <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
            {{ worker.first_name }} {{ worker.last_name }}
          </a>
        </td>
        <td>
          {{ worker.position }}
        </td>
        <td>
          {{ worker.email }}
        </td>
        <td>
          {{ worker.username }}
        </td>
      </tr>
    {% endfor %}

  </table>

  {% else %}
    <p>There is no any worker.</p>
  {% endif %}

{% endblock  %}
