{% extends "layouts/base_background.html" %}

{% block title %} IT Company Task Manager - Worker Delete {% endblock title %}


{% block content %}

  <div class="card card-body blur mx-3 mx-md-4 mb-4">
    <div class="row my-sm-7">
      <div class="col-md-12 mb-4">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4 class="txt-left-dir">
                  Are you sure you want to delete the worker?
                </h4>
              </div>
            </div>
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}  
                <input type="submit" value="Yes" class="btn btn-danger">
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock  %}
